<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Ajouter une Plante</title>
        <!-- Inclure la feuille de style -->
        <link rel="stylesheet" type="text/css" th:href="@{/ajouterPlante.css}">
    </head>
    <body>
        <header th:insert="~{fragments :: header}"></header>

        <div class="content">
            <h2>Ajouter une Plante</h2>
            <form action="#" th:action="@{/ajouterPlante}" th:object="${plante}" method="post">
                <div>
                    <label for="nom">Nom :</label>
                    <input type="text" id="nom" th:field="*{nom}">
                </div>
                <div>
                    <label for="categorie">Catégorie :</label>
                    <input type="text" id="categorie" th:field="*{categorie}">
                </div>
                <div>
                    <label for="astuce">Astuce :</label>
                    <textarea id="astuce" th:field="*{astuce}"></textarea>
                </div>
                <div>
                    <label for="planter">Planter :</label>
                    <input type="text" th:field="*{planter}"></textarea>
                </div>
                <div>
                    <label for="recolter">Recolter :</label>
                    <input type="text" th:field="*{recolter}"></textarea>
                </div>
                <div>
                    <label for="region">Région :</label>
                    <input type="text" th:field="*{region}"></textarea>
                </div>

                <!-- Autres encarts -->
                <button type="submit" class="kakarot-button">Ajoute la Plante</button>
            </form>
        </div>
        
        <footer th:insert="~{fragments :: footer}"></footer>
        
    </body>
</html>
