<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Suppression d'une plante - Votre Application de Jardinage</title>
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    </head>
    <body>

        <header th:insert="~{fragments :: header}"></header>

        <div class="content">
            <h1>Yes Kakarot ! T'as bien supprimé la plante ! </h1>
            <h1> Ca devait être une mauvaise herbe ! </h1>
        </div>
        <footer th:insert="~{fragments :: footer}"></footer>

    </body>
</html>
