<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <body>
        <header th:fragment="header">
            <a href="/">
                <button th:text="'Kakarot'" onclick="alert('Kakarot!')" class="kakarot-button"></button>
            </a>
            <form th:action="@{/rechercherRegion}" method="get">
                <input type="text" name="query" placeholder="Plante ou Région" />
                <button type="submit">Rechercher</button>
            </form>
            <a href="/ajouterPlante">
                <button th:text="'Ajouter'" onclick="alert('Ajouter!')" class="search-button"></button>
            </a>
        </header>
        <footer th:fragment="footer">
            <p>&copy;Elisa BOTHY, Igor MARTELLOTE, Guillaume ROSTAGNAT, Valentina SARAIS</p>
        </footer>
    </body>
</html>
