<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <body>
        <header th:fragment="header">
            <button th:text="'Kakarot'" onclick="alert('Kakarot!')" class="kakarot-button"></button>
            <button th:text="'Recherche'" onclick="alert('Recherche!')" class="search-button"></button
        </header>
        <footer th:fragment="footer">
            <p>&copy;Elisa BOTHY, Igor MARTELLOTE, Guillaume ROSTAGNAT, Valentina SARAIS</p>
        </footer>
    </body>
</html>
