<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plante du Mois - Votre Application de Jardinage</title>
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    </head>

    <body>
        <header th:insert="~{fragments :: header}"></header>
        <div class="content">
            <h1>Plantes du Mois.</h1>
            <!-- Encart pour les plantes du mois -->
            <div class="plantes-mois">
                <h2>Plante du mois</h2>
                <!-- Utilisez le chemin de l'image récupéré du modèle -->
                <img th:src="${imagePath}" alt="Image plante du mois">
                <p th:text="'Astuce : ' + ${astuce}">
                    <button th:text="'Recherche'" th:onclick="|window.location.href='@{/plantes-mois}'|" class="search-button"></button>

            </div>
            <footer th:insert="~{fragments :: footer}"></footer>
    </body>
</html>
