<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resultat de votre Recherche - Votre Application de Jardinage</title>
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    </head>
    <body>
        <header th:insert="~{fragments :: header}"></header>

        <div class="container">
            <h1>Résultats de la recherche pour "<span th:text="${searchQuery}"></span>"</h1>
            <ul>
                <li th:each="plante : ${searchResults}">
                    <div id="plante">
                        <a href="/afficherPlante/+${plante.id}">
                            <h2 th:text="${plante.nom}"></h2>
                            <img src="${plante.planter}" alt="${plante.nom}"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <footer th:insert="~{fragments :: footer}"></footer>
    </body>
</html>
